* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.titleHeader {
  background-color: #f5c4c8;
  height: 120px;
  padding: 20px;
  text-align: center;
}

.carrusel img {
  height: 600px;
  width: 100%;
  object-fit: cover;
  display: block;
}

.titleHeader h1 {
  font-size: 40px;
  color: #8a4c4f;
  text-transform: uppercase;
  font-weight: lighter;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fad0d3;
  height: 60px;
}

.menu nav ul {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.menu nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
}

.menu nav ul li .changeColor {
  background-color: green;
  padding: 4px;
  border-radius: 4px;
}

.menu nav ul li .changeColor:hover {
  color: white;
}

.menu nav ul li a {
  color: black;
  text-decoration: none;
  cursor: pointer;
  width: 100px;
  display: inline-block;
}

.menu nav ul li a:hover {
  color: #8a4c4f;
}

.main {
  padding: 20px;
}

.contentMain {
  display: flex;
  gap: 24px;
}

.newsletterList {
  width: 50%;
}

.newsletterList h2 {
  text-transform: uppercase;
}

.cardnewsletter {
  display: flex;
  gap: 16px;
  margin: 24px 0;
}

.cardnewsletter img {
  width: 150px;
  zoom: 0.8;
  transition: 0.4s all ease;
}

.cardnewsletter h2 {
  font-size: 18px;
}

.cardnewsletter p {
  font-size: 14px;
  font-weight: lighter;
  margin-top: 12px;
}

.bio {
  width: 50%;
}

.bio h2 {
  margin-top: 16px;
  margin-bottom: 12px;
  text-transform: uppercase;
}

.bio p {
  font-size: 14px;
  font-weight: lighter;
}

.galleryList {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 32px;
  text-align: center;
}

.galleryList figure {
  position: relative;
  width: 250px;
  height: 250px;
  display: inline-block;
  border: 2px dotted #8a4c4f;
  overflow: hidden;
}

.bio img {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: inline-block;
  cursor: pointer;
  padding: 20px;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5c4c8;
  height: 140px;
}

.footer p {
  font-size: 24px;
  text-align: center;
  font-weight: lighter;
}

.letterRotate {
  display: inline-block;
  margin: 0 24px;
  animation: letter;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  transition: 1s all ease;
  animation-fill-mode: forwards;
}

.bio .zoom {
  width: 250px;
  transition: 0.4s all ease;
  padding: 0;
}

@keyframes letter {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  60% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
